* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: #191919;
  color: #f2f2f2;
  min-height: 100vh;
}

button {
  cursor: pointer;
}

.textBlue {
  color: #1e6f9f;
}

/* ----------------------------------------
STYLE DE BLOC CATEGORIES 
-------------------------------------------*/

.container-categories {
}

.container-categories input {
}

.container-categories input::placeholder {
}

.container-categories button {
}

/* ----------------------------------------
STYLE DE BLOC SIDEBAR
-------------------------------------------*/
#sidebar {
}

.logo {
}

.logo a {
}

.nav {
}

.nav a {
}

.nav a:hover {
}

.nav a {
}
